.display-recipe--card {
    border: 3px solid black;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2) ;
    width: 300px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px;
}
