footer {
    background-color: #ff5719;
    color: white;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    margin-top: 2em;
}

@media only screen and (min-width: 1200px) {
    footer {
        position: absolute;
        bottom: 0;
        width: 100%; 
    }
}